@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="header">
        <h1>Benvenuti a InForno</h1>
        <p>Il miglior posto per pizze d'asporto!</p>
    </div>
    <div class="content">
        <h2>Le nostre pizze</h2>
        <p>Scopri la nostra selezione di pizze d'asporto, preparate ogni giorno con ingredienti di alta qualità.</p>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="./images/Homepage/margherita.webp" class="card-img-top" alt="Pizza Margherita">
                    <div class="card-body">
                        <h5 class="card-title">Pizza Margherita</h5>
                        <p class="card-text">La nostra classica pizza Margherita, fatta con pomodoro fresco, mozzarella e basilico.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="./images/Homepage/diavola.webp" class="card-img-top" alt="Pizza Diavola">
                    <div class="card-body">
                        <h5 class="card-title">Pizza Diavola</h5>
                        <p class="card-text">Una deliziosa pizza con abbondante salame piccante, mozzarella e una salsa di pomodoro speziata.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="./images/Homepage/capricciosa.webp" class="card-img-top" alt="Pizza Capricciosa">
                    <div class="card-body">
                        <h5 class="card-title">Pizza Capricciosa</h5>
                        <p class="card-text">Una ricca pizza con pomodoro, mozzarella, carciofi, prosciutto, funghi e olive.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
