@model IEnumerable<InForno.Models.Ingredient>

@{
    ViewData["Title"] = "Ingredients";
}

<h1>Ingredients</h1>

@if (!Model.Any())
{
    <p>Non sono presenti ingredienti nel database.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="UpdateIngredientView" asp-route-id="@item.IngredientId">Update  |</a>
                        <a asp-action="DeleteIngredientView" asp-route-id="@item.IngredientId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
