@{
    ViewData["Title"] = "Ordine Confermato";
}

<h2>Ordine Confermato</h2>

<p>Il tuo ordine è stato confermato con successo. Grazie per aver acquistato con noi!</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Torna alla Home</a>
